/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
//@import url(http://fonts.googleapis.com/?family=Average);

.group:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .group {
  height: 1%;
}

*:first-child + html .group {
  min-height: 1px;
}
b{
  font-weight: bold;
}
p{
  margin-bottom: 1.5em;
}


/* COLORS ORIGINAL*/
$dark_grey: #666;

$headerish_top: #0193FF; 
$headerish_bottom: #0168D5;

$bg: #F3F4FB;
$light_bg: #fff;

$inverse_text: #fff;

$cta_top : #ff403c;
$cta_bottom : #f52100;
$cta_top_hover : darken($cta_top , 5%);
$cta_bottom_hover : darken($cta_bottom, 5%);

$cta2_top: #f4f5f6;
$cta2_bottom : #edeeef;
$cta2_top_hover: #40484B; //#e7e8e9;
$cta2_bottom_hover : #373C40; //#b1b2b3;


/* COLORS LOUD
$dark_grey: #666;

$headerish_top: #4A5B6D; 
$headerish_bottom: #435363;

$bg: #F3EFE6;
$light_bg: #fff;

$inverse_text: #fff;

$cta_top : #F4645C;
$cta_bottom : #E65F59;
$cta_top_hover : darken($cta_top , 5%);
$cta_bottom_hover : darken($cta_bottom, 5%);

$cta2_top: #f4f5f6;
$cta2_bottom : #edeeef;
$cta2_top_hover: #63A685; //#e7e8e9;
$cta2_bottom_hover : #569576; //#b1b2b3;
*/



$font_size_xs: 0.6em;
$font_size_s: 0.8em;
$font_size_m: 1em;
$font_size_l: 1.2em;
$font_size_xl: 1.4em;
$font_size_xxl: 2em;


/* MIXINS */
@mixin gradient ( $top, $bottom ) {
background: $top; /* Old browsers */
background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 ); /* IE6-9 */  
}

@mixin box-sizing(){
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing:border-box;
}

div{
  @include box-sizing;
}

@mixin shadow () {
box-shadow: inset 0 0 3px rgba(0,0,0,0.4);   
}

@mixin shadow_external () {
box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

@mixin cta ( $top, $bottom, $color ){
        display:inline-block;
        padding:0.5em 0;
        width:45%;
        text-align:center;
        border:none;
        font: inherit;
        cursor:pointer;
        border-radius:10px;
        @include gradient ( $top, $bottom );
        
        box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0 1px 1px rgba(0, 0, 0, 0.3); 
        
        color: $color;           
}

@mixin headerish
{
  border-radius: 6px 6px 0 0; 
  padding: 0.5em 0.5em;
  @include gradient ( $headerish_top, $headerish_bottom );
  color: $inverse_text;      
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.not_padded{
  padding:0 !important;
}
                
body
{
  width:90%;
  max-width:780px;
  margin:auto;
  background: $bg; //#F2F5FB;
  font-family: "Helvetica",Helvetica,Arial,sans-serif;
  font-weight: lighter;
  line-height:1.5em;
  color:#666;
}  

a
{
  color:inherit;
}

h2{
  font-size: $font_size_xl;
}

.left{
  float:left;
}
.right{
  float:right;
}

.shadowed
{
  box-shadow:0 0 2px rgba(0, 0, 0, 0.8);  
}

.hidden_content{
  display: none;
}


#spotlight
{
  margin:2em 0 1em;
  width: 100%;    
  padding: 0 0 1em !important;
  border:none;
  //@include gradient ( $cta2_top_hover, $cta2_bottom_hover );  
  .title{
    font-size: $font_size_xxl;
    text-transform: none;
    font-weight: normal;
    text-align: center;
    @include headerish; 
  }
  table{
    width: 100%;
    height: 18em;
    //
  }
  td{
    width: 33%;
  }
  .box{
    padding: 0.7em;
    width: 100%;
    border-radius:3px;
  }
  .cta{
    width: 75% !important;
    margin-left: 12%;  
  }
}



#header
{
  margin: 15px auto;
  text-shadow: 0 -1px 1px $inverse_text, 0 1px 1px $inverse_text;
  //border-bottom: 1px solid #d8e1f3;
  color:#38424E;

  a:hover
  {
    text-decoration:underline;  
  }
  
  #location
  {
  font-size: $font_size_xl;
  padding: 0 0.3em 0 0.6em;
  text-decoration:none;
  position: relative;
  top:-2px;
  }

  .view_icon{
    display:none;
  }

  #nav  
  {
    float:right;
    ul
    {
      li
      {
        display:block-inline;
        float:right;
        margin-left:30px;
        padding-top: 8px;
        height: 38px;
        a{
          text-decoration: none;
        }
        img{
          vertical-align: middle;
          margin-right: 5px;
          border-radius:6px;
        }
      }
    }
  }
}

#breadcrumbs
{
  font-size:0.8em;
  line-height:0.8em;
  margin-top:.8em;
  color:#888;

  ul
  {
    li
    {
      float:left;
      padding-left:0.5em;
      a
      {
        text-decoration:underline;
      }
    }
    li:after
    {
      content:">";
      padding-left:0.5em;
    }
    li:first-child
    {
      padding-left:0;
    }

  }
}

#hero{
  margin-bottom: 12px;
  width: 100%;
}

#show_options{
  text-align: right;
  margin-top: 16px;
  span{
    margin-left: 10px;
  }
  label{
    cursor:pointer;
  }
}

#your_stuff
{     
  margin:auto;
  h1
  {
    font-size:$font_size_xl;
    margin:0.4em 0;
  }
  ul
  { 
    border-radius: 2px;     
      .category
      {
        @include headerish;
        margin-top: 1em;     
      }
      >li{
        border-radius: 6px 6px 0 0;
      }
      ul
      {
        display:table;
        padding:0px;
        width:100%;
        li
        {
          background: $light_bg;
          color: #666;
          border-left: 1px solid #aaa;
          border-right: 1px solid #aaa;
          position:relative;
          box-shadow: none;
          display:table-row;


          .want, .have, .content {
              display:table-cell;
              vertical-align:middle;
          }
          
          .content{
            width:100%;              
          }
          .have_qty_holder, .want_qty_holder{
            width: 0;
            height: 0;
            position:relative;
          }
          .have_qty{
            position: absolute;
            left: -8px;
            line-height: 56px;
            color:#fff;
            background: $headerish_top;   
            box-shadow: -2px 0 2px rgba(0,0,0,0.5);                 
          }     

          .want_qty{
            position: absolute;
            left: 0px;
            line-height: 56px;
            color: #fff;
            background: $headerish_top;
            box-shadow: 2px 0 2px rgba(0,0,0,0.5);       
          }     

          .have,
          .want
          {
            @include gradient ( $cta2_top, $cta2_bottom );
            @include box-sizing;
            padding:1em 10px;
            color:#666;
            cursor:pointer;   
            border-bottom: 1px solid #e1e2e3;
            //border-top: 1px solid #e1e2e3;                      
            text-shadow: 0 1px 0 #FFFFFF;
            text-align:center;
            text-decoration: none !important;
          }
          .want
          {
            border-left: 1px solid #e1e2e3;
          }
          .have
          {
            border-right: 1px solid #e1e2e3;  
          }                         
          .have.selected, 
          .want.selected,
          .have:hover,
          .want:hover            
          {
            border-bottom: 1px solid #576266;
            //border-top: 1px solid #576266;              
            color:$inverse_text;
            @include gradient ($cta2_top_hover, $cta2_bottom_hover );
            @include shadow;
            text-shadow:none; 
          }
          .want.selected, .want:hover
          {
            border-left: 1px solid #576266;
          }
          .have.selected, .have:hover
          {
            border-right: 1px solid #576266;  
          }

          &:hover{
            .item_name .listing, .item_name .offer{
              display:inline;
            }
          }                       
          .item_name
          {
            padding: 0 0.5em;
            display:inline-block;
            width: 100%;

            .listing, .offer{
              display:none;
              padding:0 0.3em;
              border:none;
              border-radius:5px;
              float: right;
              @include gradient ( #0193ff, #0193ff);
              margin-right: 0.5em;
              color: $inverse_text;                
            }
          }
          .offers
          {
            @include cta ($cta_top, $cta_bottom, $inverse_text );
            width:auto;
            padding: 0.2em 0.5em;
            margin: 0;
            a{
              text-decoration: none;
            }
          }
          .popped 
          {
            .item_name
            {
              @include gradient ( $headerish_top, $headerish_bottom );
              display:block;              
              @include headerish; 
            }
            .offers
            {
              display:none;
            }
          }                                      
        }
      }
    li:first-child
    {
      .category
      {
        border-radius:2px 2px 0 0;         
      }
    }    
  }
  > ul > li
  {
    margin-bottom:2em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); 
    border-bottom: 1px solid #aaa;
  }
}
  
  
/*OFFERS */
  
#offers
{
  @include shadow-external;  
	background:$light_bg;
  width:100%;
  thead
  {
    @include headerish;
    th
    {
      padding:.5em;
    }
  }

  tbody tr 
  {
    td 
    {
      border-bottom: 1px solid #F1F2F3;
      padding:0.5em;

      span
      {
        @include cta ($cta_top, $cta_bottom, $inverse_text );
        padding: 0.2em .5em;

        &:hover
        {
          @include cta ($cta_top_hover, $cta_bottom_hover, $inverse_text);
          padding: 0.2em 0.5em; 
        }               
      }
    }
  }
}
  
#footer
{
  margin:2em 0;
  color:#38424E;
}

.condition_definition ul{
  list-style: disc;
  padding-left: 20px;
}

.form
{
  margin: auto;
  height: 60%;
  background:$light_bg;
  color:#666;
  
  h1
  {
    @include headerish;    
  }
    .conditions
    {
      text-align:right;
      display:table;
      width:100%;
      margin-bottom: 1em;
      
      div
      {
        @include cta ( $cta2_top, $cta2_bottom, #666 );
        border: 1px solid darken($cta2_bottom, 15%) ;         
        
        border-radius:0;        
        width:33.3%;
        text-align:center;
        display: table-cell;
        vertical-align: middle;
        height:2.5em;
        text-shadow: inset  0 1px 1px rgba(0,0,0,0.3);
        cursor:pointer;

        &:hover, &.selected {
          @include gradient ($cta2_top_hover, $cta2_bottom_hover ); 
          border: 1px solid darken($cta2_bottom_hover, 10%) ;
          color: $inverse_text;   
        }
      }

      .condition1
      {
        //background: #6CA314;  
        border-radius: 4px 0 0 4px;
        
      }
      .condition2
      {
        border-left: 1px solid #fff;
        border-right:1px solid #fff;
      }
      .condition3
      {
        //background: #C2DE8A; //#FFED3D; 
        border-radius: 0 4px 4px 0;
      }
      .unselected
      {
        background:#bbb;
      }                            
    }
    .ctas
    {
      margin-top:1.5em;
      overflow:auto;
      .cta.primary
      {
        float:right;            
      }  
    }
    label
    {
      display:block;
      margin:1.5em 0 0.3em;
      font-weight: bold; 
      .small{
        font-weight: 100;
        font-size: 16px;
        float:right;
      }
    }
    label:first-child
    {
      margin-top: 0;
    }
    input[type=text],input[type=email],input[type=password], textarea
    {
    @include box-sizing;     
    border: none;
    display: inline-block;
    font-size: $font_size_m;
    padding: 0.5em;
    border-radius:6px;
    background-color: #F6FCFD;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.22) inset;
    -webkit-appearance: none;  
    }
    .input_mini
    {
      width:5em;
    }
    .input_maxi
    {
      @include box-sizing;
      width:100%; 
    }    
    p
    {
      font-size:0.9em;
      margin: 1em 0 0;  
      line-height:1.2em;
    }
    .form_error{
      background:red;
      color: #fff;
    }

    textarea{
      height:110px;  
    }  
}
      
.content {
  padding:0.5em 0;
  border-bottom: 1px solid #F1F2F3;  
}

.content.popped{
  position: relative;
  z-index: 110;
  color:$inverse_text;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  padding:0;
}

#overlay
{
  position: fixed; 
  z-index: 90;
  width:100%;
  height:100%;
  display:none; 
  top: 0; 
  left: 0;
  background: $bg;
}



.boxy
{
  .title
  {
    @include headerish;
    border-bottom-left-radius:0; 
     border-bottom-right-radius:0; 
    padding: 1em 1.5em;
    text-transform:uppercase;
    font-weight:bold;  
  }
  .boxy_content
  {
    background:$light_bg;
    border-bottom: 1px solid #F1F2F3;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    padding:1.5em;
  }  
}  


.central
{
  width:400px; 
  margin:4em auto;  
}

.boxy.central select{
   /* Set select's width */
   width: 100%;
}

.modal
{
  padding:1.5em;
}


.page
{
    background:$light_bg;
    @include shadow-external;
    padding:1em;
    .close_deal
    {
      color:$inverse_text;
      float:right;
      padding:1em;
      @include cta ($cta_top, $cta_bottom, $inverse_text );
      box-shadow:none;
      border-radius:3px;

      b 
      {
        display:block;
        font-weight:bold;
        text-transform:uppercase;
      }
    }
}



.menubar{
  display: table;
  width: 100%;
  table-layout: fixed;
  li{
    @include cta ( $cta2_top, $cta2_bottom, #666 );

@include gradient ($cta2_top_hover, $cta2_bottom_hover ); 
color: #fff;


    display: table-cell;
    font-size: 0.8em;       
    border-radius:0;

    padding:0;

    &:first-child{
      border-radius:10px 0 0 10px;
    }
    &:last-child{
      border-radius:0 10px 10px 0;
    }

    a{
      display: block;
      padding: 0.5em 0;
      text-decoration: none;
    }
    &:hover, .selected {
       @include gradient ($cta2_top_hover, $cta2_bottom_hover ); 
      //border: 1px solid darken($cta2_bottom_hover, 10%) ;
      color: $cta2_top;

    }            
  }
}


.sidebar{
    min-width: 185px;
    border-right: 1px solid darken($cta2_bottom, 10%);
    display: table-cell;
    @include gradient ( $cta2_top, $cta2_bottom );
    height: 400px;
    vertical-align: top;
}


.sidepanel{
  display: table-cell;
  vertical-align: top;
  width: 100%;  
  padding: 1.5em;
  //line-height: 2.5em;

  h1{
    font-size: 2em;
    margin-bottom: 0.6em; 
    span{
      font-size: 0.5em;
    }
  }

  ul{
    line-height: 3em;
  } 
  

}

.dark_list  li a{
    padding:1em 1.5em;
    text-decoration: none;

    @include gradient ( $cta2_top, $cta2_bottom );
    @include box-sizing;
    padding:1em 23px;
    color:#666;
    cursor:pointer;   
    border-bottom: 1px solid #e1e2e3;                    
    text-shadow: 0 1px 0 #FFFFFF;
    display: block; 
    &:hover, &.selected{
      border-bottom: 1px solid darken($cta2_bottom_hover, 10%) ;
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
      text-shadow: none; 
      @include gradient ($cta2_top_hover, $cta2_bottom_hover ); 
      color: $inverse_text;         
    }
  }


//alerts
.alert{
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: $inverse_text;
    margin: 1em 0;
    position: relative;
    
  
    padding:    .5em 1em; 
}

.success{
@include background-image(linear-gradient(#62C462, #57A957)); 
}
.danger
{  
@include background-image(linear-gradient(#EE5F5B, #C43C35)); 
}

.warning
{
@include background-image(linear-gradient(#FCEEC1, #EEDC94)); 
color: $dark_grey;
}



//CTA
.cta.primary
{
  @include cta ( $cta_top, $cta_bottom, $inverse_text );
  border: 1px solid #CF101C;
  text-decoration: none;     
  &:hover, .selected {
     @include gradient ($cta_top_hover, $cta_bottom_hover ); 
    border: 1px solid darken($cta_bottom_hover, 10%) ; 
  }             
}
.cta.secondary
{
  @include cta ( $cta2_top, $cta2_bottom, #666 );
  border: 1px solid darken($cta2_bottom, 15%) ; 
  
  &:hover, .selected {
     @include gradient ($cta2_top_hover, $cta2_bottom_hover ); 
    border: 1px solid darken($cta2_bottom_hover, 10%) ;
    color: $inverse_text;  
  }
  text-decoration: none;       
}
.cta.maxi
{
  width: 100%;
}



.paymentButton{
  margin-bottom: 1em;
  margin-top: 1em; 
  @include cta ( $cta2_top, $cta2_bottom, #666 );
  border: 1px solid darken($cta2_bottom, 15%) ;
  padding: 1.6em 0 ;
  width: 120px;
  height: 205px;
  margin-right: 19px; 
  float: left;
  position:relative; 
  &:last-of-type{
    margin-right: 0px;
  }  
  span{
    font-size: 2.5em;
    background: #fff;
    padding: 10px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5) inset;
    border-radius: 30px;
    width: 51px;
    display: inline-block;
  }
  .price{
    color: #fff;
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 1.4em;
    padding: 4px 0;
  }

}

.paymentButton.primary{
  color:$inverse_text;
  @include gradient ($cta2_top_hover, $cta2_bottom_hover );
  span{
    color: darken( $dark_grey, 10%);
  }
}
//contact area in offer page
.contact{
  margin-top: 1.5em;
  h1{
    padding: 1em 1.5em;
    color: #fff;
    @include gradient ( $cta_top_hover, $cta_bottom_hover );
  }
  p{
    padding:1.5em;
    border: 3px dashed $cta_bottom_hover;
    border-top:0;
  }
}




@media only screen
and (min-width : 1024px) {
  #instructions{
    position:relative;
    height: 0px;
    z-index: 1;
    #instructions_have{
  width: 120px;
  height: 112px;
  float: left;
  position: absolute;
  left: -115px;
  top: 80px;
  background: url('../../img/cta_have@2x.png');
  background-size: cover;
    }
    #instructions_want{
  width: 120px;
  height: 112px;
  float: right;
  background: url('../../img/cta_want@2x.png');
  background-size: cover;
  position: absolute;
  right: -120px;
  top: 80px;

  //1064
    }  
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 700px) {
/* Styles */

  #header {
    #location{
      display: none;
    }    
    .view_text{
      display: none;
    }
    .view_icon{
      display:inline;
    }
  }
}

@media only screen
and (max-width : 450px) {
/* Styles */

  .no_mobile{
    display: none;
  }

  .central
  {
    width:100%; 
    margin:1em auto;  
  }

  #header {
    #location{
      display: none;
    }
    .view_text{
      display: none;
    }
    .view_icon{
      display:inline;
    }
  }

}

.big_pic{
  box-shadow:0 0 3px rgba(0,0,0,0.4);
  width:100%;
}

.calendar_square{
  width: 50px;
  height: 60px;
  border-right:1px solid #bbb;
  text-align: center;
  .year{
    background:#bbb;
    color:#fff;
    font-size: 11px;
    height: 20px;    
  }
  .day{
    font-size: 18px;
    height: 22px;
  }
  .month{
    text-transform: uppercase;
    font-size: 12px;
    padding: 0;
    line-height: 16px;
  }
}

.account_offers, .account_listings{
  width: 100%;
  tr{
    //border-bottom:1px solid red;
    &:first-of-type{
      border-top:1px solid #bbb;
    }  
  }
  td:first-of-type{
    width:60px;
  }
  td:nth-child(3){
    width: 80px;
  }
  .cta{
    display: table-cell;
    vertical-align: middle;
    @include cta ($cta2_top, $cta2_bottom, #666 );
    display: inline-block;
    width: auto;
    padding:0.2em 0.5em;
  }  
}



