/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
.group:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 18, ../sass/screen.scss */
* html .group {
  height: 1%;
}

/* line 22, ../sass/screen.scss */
*:first-child + html .group {
  min-height: 1px;
}

/* line 25, ../sass/screen.scss */
b {
  font-weight: bold;
}

/* line 28, ../sass/screen.scss */
p {
  margin-bottom: 1.5em;
}

/* COLORS ORIGINAL*/
/* COLORS LOUD
$dark_grey: #666;

$headerish_top: #4A5B6D; 
$headerish_bottom: #435363;

$bg: #F3EFE6;
$light_bg: #fff;

$inverse_text: #fff;

$cta_top : #F4645C;
$cta_bottom : #E65F59;
$cta_top_hover : darken($cta_top , 5%);
$cta_bottom_hover : darken($cta_bottom, 5%);

$cta2_top: #f4f5f6;
$cta2_bottom : #edeeef;
$cta2_top_hover: #63A685; //#e7e8e9;
$cta2_bottom_hover : #569576; //#b1b2b3;
*/
/* MIXINS */
/* line 105, ../sass/screen.scss */
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 142, ../sass/screen.scss */
.not_padded {
  padding: 0 !important;
}

/* line 147, ../sass/screen.scss */
body {
  width: 90%;
  max-width: 780px;
  margin: auto;
  background: #f3f4fb;
  font-family: "Helvetica",Helvetica,Arial,sans-serif;
  font-weight: lighter;
  line-height: 1.5em;
  color: #666;
}

/* line 159, ../sass/screen.scss */
a {
  color: inherit;
}

/* line 163, ../sass/screen.scss */
h2 {
  font-size: 1.4em;
}

/* line 167, ../sass/screen.scss */
.left {
  float: left;
}

/* line 170, ../sass/screen.scss */
.right {
  float: right;
}

/* line 175, ../sass/screen.scss */
.shadowed {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

/* line 179, ../sass/screen.scss */
.hidden_content {
  display: none;
}

/* line 185, ../sass/screen.scss */
#spotlight {
  margin: 2em 0 1em;
  width: 100%;
  padding: 0 0 1em !important;
  border: none;
}
/* line 191, ../sass/screen.scss */
#spotlight .title {
  font-size: 2em;
  text-transform: none;
  font-weight: normal;
  text-align: center;
  border-radius: 6px 6px 0 0;
  padding: 0.5em 0.5em;
  background: #0193ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0193ff), color-stop(100%, #0168d5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0193ff 0%, #0168d5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
/* line 198, ../sass/screen.scss */
#spotlight table {
  width: 100%;
  height: 18em;
}
/* line 203, ../sass/screen.scss */
#spotlight td {
  width: 33%;
}
/* line 206, ../sass/screen.scss */
#spotlight .box {
  padding: 0.7em;
  width: 100%;
  border-radius: 3px;
}
/* line 211, ../sass/screen.scss */
#spotlight .cta {
  width: 75% !important;
  margin-left: 12%;
}

/* line 220, ../sass/screen.scss */
#header {
  margin: 15px auto;
  text-shadow: 0 -1px 1px white, 0 1px 1px white;
  color: #38424E;
}
/* line 227, ../sass/screen.scss */
#header a:hover {
  text-decoration: underline;
}
/* line 232, ../sass/screen.scss */
#header #location {
  font-size: 1.4em;
  padding: 0 0.3em 0 0.6em;
  text-decoration: none;
  position: relative;
  top: -2px;
}
/* line 240, ../sass/screen.scss */
#header .view_icon {
  display: none;
}
/* line 245, ../sass/screen.scss */
#header #nav {
  float: right;
}
/* line 250, ../sass/screen.scss */
#header #nav ul li {
  display: block-inline;
  float: right;
  margin-left: 30px;
  padding-top: 8px;
  height: 38px;
}
/* line 256, ../sass/screen.scss */
#header #nav ul li a {
  text-decoration: none;
}
/* line 259, ../sass/screen.scss */
#header #nav ul li img {
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 6px;
}

/* line 270, ../sass/screen.scss */
#breadcrumbs {
  font-size: 0.8em;
  line-height: 0.8em;
  margin-top: .8em;
  color: #888;
}
/* line 279, ../sass/screen.scss */
#breadcrumbs ul li {
  float: left;
  padding-left: 0.5em;
}
/* line 283, ../sass/screen.scss */
#breadcrumbs ul li a {
  text-decoration: underline;
}
/* line 288, ../sass/screen.scss */
#breadcrumbs ul li:after {
  content: ">";
  padding-left: 0.5em;
}
/* line 293, ../sass/screen.scss */
#breadcrumbs ul li:first-child {
  padding-left: 0;
}

/* line 300, ../sass/screen.scss */
#hero {
  margin-bottom: 12px;
  width: 100%;
}

/* line 305, ../sass/screen.scss */
#show_options {
  text-align: right;
  margin-top: 16px;
}
/* line 308, ../sass/screen.scss */
#show_options span {
  margin-left: 10px;
}
/* line 311, ../sass/screen.scss */
#show_options label {
  cursor: pointer;
}

/* line 317, ../sass/screen.scss */
#your_stuff {
  margin: auto;
}
/* line 320, ../sass/screen.scss */
#your_stuff h1 {
  font-size: 1.4em;
  margin: 0.4em 0;
}
/* line 325, ../sass/screen.scss */
#your_stuff ul {
  border-radius: 2px;
}
/* line 328, ../sass/screen.scss */
#your_stuff ul .category {
  border-radius: 6px 6px 0 0;
  padding: 0.5em 0.5em;
  background: #0193ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0193ff), color-stop(100%, #0168d5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0193ff 0%, #0168d5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  margin-top: 1em;
}
/* line 332, ../sass/screen.scss */
#your_stuff ul > li {
  border-radius: 6px 6px 0 0;
}
/* line 336, ../sass/screen.scss */
#your_stuff ul ul {
  display: table;
  padding: 0px;
  width: 100%;
}
/* line 341, ../sass/screen.scss */
#your_stuff ul ul li {
  background: white;
  color: #666;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  position: relative;
  box-shadow: none;
  display: table-row;
}
/* line 351, ../sass/screen.scss */
#your_stuff ul ul li .want, #your_stuff ul ul li .have, #your_stuff ul ul li .content {
  display: table-cell;
  vertical-align: middle;
}
/* line 356, ../sass/screen.scss */
#your_stuff ul ul li .content {
  width: 100%;
}
/* line 359, ../sass/screen.scss */
#your_stuff ul ul li .have_qty_holder, #your_stuff ul ul li .want_qty_holder {
  width: 0;
  height: 0;
  position: relative;
}
/* line 364, ../sass/screen.scss */
#your_stuff ul ul li .have_qty {
  position: absolute;
  left: -8px;
  line-height: 56px;
  color: #fff;
  background: #0193ff;
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.5);
}
/* line 373, ../sass/screen.scss */
#your_stuff ul ul li .want_qty {
  position: absolute;
  left: 0px;
  line-height: 56px;
  color: #fff;
  background: #0193ff;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}
/* line 384, ../sass/screen.scss */
#your_stuff ul ul li .have,
#your_stuff ul ul li .want {
  background: #f4f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f6), color-stop(100%, #edeeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f5f6 0%, #edeeef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 10px;
  color: #666;
  cursor: pointer;
  border-bottom: 1px solid #e1e2e3;
  text-shadow: 0 1px 0 #FFFFFF;
  text-align: center;
  text-decoration: none !important;
}
/* line 397, ../sass/screen.scss */
#your_stuff ul ul li .want {
  border-left: 1px solid #e1e2e3;
}
/* line 401, ../sass/screen.scss */
#your_stuff ul ul li .have {
  border-right: 1px solid #e1e2e3;
}
/* line 408, ../sass/screen.scss */
#your_stuff ul ul li .have.selected,
#your_stuff ul ul li .want.selected,
#your_stuff ul ul li .have:hover,
#your_stuff ul ul li .want:hover {
  border-bottom: 1px solid #576266;
  color: white;
  background: #40484b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40484b), color-stop(100%, #373c40));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #40484b 0%, #373c40 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
  text-shadow: none;
}
/* line 417, ../sass/screen.scss */
#your_stuff ul ul li .want.selected, #your_stuff ul ul li .want:hover {
  border-left: 1px solid #576266;
}
/* line 421, ../sass/screen.scss */
#your_stuff ul ul li .have.selected, #your_stuff ul ul li .have:hover {
  border-right: 1px solid #576266;
}
/* line 426, ../sass/screen.scss */
#your_stuff ul ul li:hover .item_name .listing, #your_stuff ul ul li:hover .item_name .offer {
  display: inline;
}
/* line 431, ../sass/screen.scss */
#your_stuff ul ul li .item_name {
  padding: 0 0.5em;
  display: inline-block;
  width: 100%;
}
/* line 436, ../sass/screen.scss */
#your_stuff ul ul li .item_name .listing, #your_stuff ul ul li .item_name .offer {
  display: none;
  padding: 0 0.3em;
  border: none;
  border-radius: 5px;
  float: right;
  background: #0193ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0193ff 0%, #0193ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0193ff), color-stop(100%, #0193ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0193ff 0%, #0193ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0193ff 0%, #0193ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0193ff 0%, #0193ff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0193ff 0%, #0193ff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  margin-right: 0.5em;
  color: white;
}
/* line 448, ../sass/screen.scss */
#your_stuff ul ul li .offers {
  display: inline-block;
  padding: 0.5em 0;
  width: 45%;
  text-align: center;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  background: #ff403c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff403c), color-stop(100%, #f52100));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff403c 0%, #f52100 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3);
  color: white;
  width: auto;
  padding: 0.2em 0.5em;
  margin: 0;
}
/* line 453, ../sass/screen.scss */
#your_stuff ul ul li .offers a {
  text-decoration: none;
}
/* line 460, ../sass/screen.scss */
#your_stuff ul ul li .popped .item_name {
  background: #0193ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0193ff), color-stop(100%, #0168d5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0193ff 0%, #0168d5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  display: block;
  border-radius: 6px 6px 0 0;
  padding: 0.5em 0.5em;
  background: #0193ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0193ff), color-stop(100%, #0168d5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0193ff 0%, #0168d5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
/* line 466, ../sass/screen.scss */
#your_stuff ul ul li .popped .offers {
  display: none;
}
/* line 475, ../sass/screen.scss */
#your_stuff ul li:first-child .category {
  border-radius: 2px 2px 0 0;
}
/* line 481, ../sass/screen.scss */
#your_stuff > ul > li {
  margin-bottom: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #aaa;
}

/*OFFERS */
/* line 492, ../sass/screen.scss */
#offers {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  background: white;
  width: 100%;
}
/* line 497, ../sass/screen.scss */
#offers thead {
  border-radius: 6px 6px 0 0;
  padding: 0.5em 0.5em;
  background: #0193ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0193ff), color-stop(100%, #0168d5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0193ff 0%, #0168d5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
/* line 500, ../sass/screen.scss */
#offers thead th {
  padding: .5em;
}
/* line 508, ../sass/screen.scss */
#offers tbody tr td {
  border-bottom: 1px solid #F1F2F3;
  padding: 0.5em;
}
/* line 513, ../sass/screen.scss */
#offers tbody tr td span {
  display: inline-block;
  padding: 0.5em 0;
  width: 45%;
  text-align: center;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  background: #ff403c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff403c), color-stop(100%, #f52100));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff403c 0%, #f52100 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 0.2em .5em;
}
/* line 518, ../sass/screen.scss */
#offers tbody tr td span:hover {
  display: inline-block;
  padding: 0.5em 0;
  width: 45%;
  text-align: center;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  background: #ff2722;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff2722), color-stop(100%, #dc1e00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff2722 0%, #dc1e00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 0.2em 0.5em;
}

/* line 528, ../sass/screen.scss */
#footer {
  margin: 2em 0;
  color: #38424E;
}

/* line 533, ../sass/screen.scss */
.condition_definition ul {
  list-style: disc;
  padding-left: 20px;
}

/* line 539, ../sass/screen.scss */
.form {
  margin: auto;
  height: 60%;
  background: white;
  color: #666;
}
/* line 546, ../sass/screen.scss */
.form h1 {
  border-radius: 6px 6px 0 0;
  padding: 0.5em 0.5em;
  background: #0193ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0193ff), color-stop(100%, #0168d5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0193ff 0%, #0168d5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
/* line 550, ../sass/screen.scss */
.form .conditions {
  text-align: right;
  display: table;
  width: 100%;
  margin-bottom: 1em;
}
/* line 557, ../sass/screen.scss */
.form .conditions div {
  display: inline-block;
  padding: 0.5em 0;
  width: 45%;
  text-align: center;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  background: #f4f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f6), color-stop(100%, #edeeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f5f6 0%, #edeeef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #666666;
  border: 1px solid #c5c8cb;
  border-radius: 0;
  width: 33.3%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 2.5em;
  text-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* line 570, ../sass/screen.scss */
.form .conditions div:hover, .form .conditions div.selected {
  background: #40484b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40484b), color-stop(100%, #373c40));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #40484b 0%, #373c40 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #1f2225;
  color: white;
}
/* line 578, ../sass/screen.scss */
.form .conditions .condition1 {
  border-radius: 4px 0 0 4px;
}
/* line 584, ../sass/screen.scss */
.form .conditions .condition2 {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
/* line 589, ../sass/screen.scss */
.form .conditions .condition3 {
  border-radius: 0 4px 4px 0;
}
/* line 594, ../sass/screen.scss */
.form .conditions .unselected {
  background: #bbb;
}
/* line 599, ../sass/screen.scss */
.form .ctas {
  margin-top: 1.5em;
  overflow: auto;
}
/* line 603, ../sass/screen.scss */
.form .ctas .cta.primary {
  float: right;
}
/* line 608, ../sass/screen.scss */
.form label {
  display: block;
  margin: 1.5em 0 0.3em;
  font-weight: bold;
}
/* line 612, ../sass/screen.scss */
.form label .small {
  font-weight: 100;
  font-size: 16px;
  float: right;
}
/* line 619, ../sass/screen.scss */
.form label:first-child {
  margin-top: 0;
}
/* line 623, ../sass/screen.scss */
.form input[type=text], .form input[type=email], .form input[type=password], .form textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  display: inline-block;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 6px;
  background-color: #F6FCFD;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.22) inset;
  -webkit-appearance: none;
}
/* line 635, ../sass/screen.scss */
.form .input_mini {
  width: 5em;
}
/* line 639, ../sass/screen.scss */
.form .input_maxi {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
/* line 644, ../sass/screen.scss */
.form p {
  font-size: 0.9em;
  margin: 1em 0 0;
  line-height: 1.2em;
}
/* line 649, ../sass/screen.scss */
.form .form_error {
  background: red;
  color: #fff;
}
/* line 654, ../sass/screen.scss */
.form textarea {
  height: 110px;
}

/* line 659, ../sass/screen.scss */
.content {
  padding: 0.5em 0;
  border-bottom: 1px solid #F1F2F3;
}

/* line 664, ../sass/screen.scss */
.content.popped {
  position: relative;
  z-index: 110;
  color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  padding: 0;
}

/* line 673, ../sass/screen.scss */
#overlay {
  position: fixed;
  z-index: 90;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  background: #f3f4fb;
}

/* line 689, ../sass/screen.scss */
.boxy .title {
  border-radius: 6px 6px 0 0;
  padding: 0.5em 0.5em;
  background: #0193ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0193ff), color-stop(100%, #0168d5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0193ff 0%, #0168d5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0193ff 0%, #0168d5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1em 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 698, ../sass/screen.scss */
.boxy .boxy_content {
  background: white;
  border-bottom: 1px solid #F1F2F3;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  padding: 1.5em;
}

/* line 708, ../sass/screen.scss */
.central {
  width: 400px;
  margin: 4em auto;
}

/* line 713, ../sass/screen.scss */
.boxy.central select {
  /* Set select's width */
  width: 100%;
}

/* line 719, ../sass/screen.scss */
.modal {
  padding: 1.5em;
}

/* line 725, ../sass/screen.scss */
.page {
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  padding: 1em;
}
/* line 730, ../sass/screen.scss */
.page .close_deal {
  color: white;
  float: right;
  padding: 1em;
  display: inline-block;
  padding: 0.5em 0;
  width: 45%;
  text-align: center;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  background: #ff403c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff403c), color-stop(100%, #f52100));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff403c 0%, #f52100 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3);
  color: white;
  box-shadow: none;
  border-radius: 3px;
}
/* line 739, ../sass/screen.scss */
.page .close_deal b {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 749, ../sass/screen.scss */
.menubar {
  display: table;
  width: 100%;
  table-layout: fixed;
}
/* line 753, ../sass/screen.scss */
.menubar li {
  display: inline-block;
  padding: 0.5em 0;
  width: 45%;
  text-align: center;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  background: #f4f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f6), color-stop(100%, #edeeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f5f6 0%, #edeeef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #666666;
  background: #40484b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40484b), color-stop(100%, #373c40));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #40484b 0%, #373c40 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  color: #fff;
  display: table-cell;
  font-size: 0.8em;
  border-radius: 0;
  padding: 0;
}
/* line 766, ../sass/screen.scss */
.menubar li:first-child {
  border-radius: 10px 0 0 10px;
}
/* line 769, ../sass/screen.scss */
.menubar li:last-child {
  border-radius: 0 10px 10px 0;
}
/* line 773, ../sass/screen.scss */
.menubar li a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
}
/* line 778, ../sass/screen.scss */
.menubar li:hover, .menubar li .selected {
  background: #40484b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40484b), color-stop(100%, #373c40));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #40484b 0%, #373c40 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  color: #f4f5f6;
}

/* line 788, ../sass/screen.scss */
.sidebar {
  min-width: 185px;
  border-right: 1px solid #d2d4d7;
  display: table-cell;
  background: #f4f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f6), color-stop(100%, #edeeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f5f6 0%, #edeeef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  height: 400px;
  vertical-align: top;
}

/* line 798, ../sass/screen.scss */
.sidepanel {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding: 1.5em;
}
/* line 805, ../sass/screen.scss */
.sidepanel h1 {
  font-size: 2em;
  margin-bottom: 0.6em;
}
/* line 808, ../sass/screen.scss */
.sidepanel h1 span {
  font-size: 0.5em;
}
/* line 813, ../sass/screen.scss */
.sidepanel ul {
  line-height: 3em;
}

/* line 820, ../sass/screen.scss */
.dark_list li a {
  padding: 1em 1.5em;
  text-decoration: none;
  background: #f4f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f6), color-stop(100%, #edeeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f5f6 0%, #edeeef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 23px;
  color: #666;
  cursor: pointer;
  border-bottom: 1px solid #e1e2e3;
  text-shadow: 0 1px 0 #FFFFFF;
  display: block;
}
/* line 832, ../sass/screen.scss */
.dark_list li a:hover, .dark_list li a.selected {
  border-bottom: 1px solid #1f2225;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
  text-shadow: none;
  background: #40484b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40484b), color-stop(100%, #373c40));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #40484b 0%, #373c40 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  color: white;
}

/* line 843, ../sass/screen.scss */
.alert {
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
  margin: 1em 0;
  position: relative;
  padding: .5em 1em;
}

/* line 858, ../sass/screen.scss */
.success {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(#62c462, #57a957);
  background-image: -moz-linear-gradient(#62c462, #57a957);
  background-image: -o-linear-gradient(#62c462, #57a957);
  background-image: linear-gradient(#62c462, #57a957);
}

/* line 862, ../sass/screen.scss */
.danger {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(#ee5f5b, #c43c35);
  background-image: -moz-linear-gradient(#ee5f5b, #c43c35);
  background-image: -o-linear-gradient(#ee5f5b, #c43c35);
  background-image: linear-gradient(#ee5f5b, #c43c35);
}

/* line 867, ../sass/screen.scss */
.warning {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(#fceec1, #eedc94);
  background-image: -moz-linear-gradient(#fceec1, #eedc94);
  background-image: -o-linear-gradient(#fceec1, #eedc94);
  background-image: linear-gradient(#fceec1, #eedc94);
  color: #666666;
}

/* line 876, ../sass/screen.scss */
.cta.primary {
  display: inline-block;
  padding: 0.5em 0;
  width: 45%;
  text-align: center;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  background: #ff403c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff403c), color-stop(100%, #f52100));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff403c 0%, #f52100 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff403c 0%, #f52100 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3);
  color: white;
  border: 1px solid #CF101C;
  text-decoration: none;
}
/* line 880, ../sass/screen.scss */
.cta.primary:hover, .cta.primary .selected {
  background: #ff2722;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff2722), color-stop(100%, #dc1e00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff2722 0%, #dc1e00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #a91700;
}

/* line 886, ../sass/screen.scss */
.cta.secondary {
  display: inline-block;
  padding: 0.5em 0;
  width: 45%;
  text-align: center;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  background: #f4f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f6), color-stop(100%, #edeeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f5f6 0%, #edeeef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #666666;
  border: 1px solid #c5c8cb;
  text-decoration: none;
}
/* line 890, ../sass/screen.scss */
.cta.secondary:hover, .cta.secondary .selected {
  background: #40484b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40484b), color-stop(100%, #373c40));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #40484b 0%, #373c40 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #1f2225;
  color: white;
}

/* line 898, ../sass/screen.scss */
.cta.maxi {
  width: 100%;
}

/* line 904, ../sass/screen.scss */
.paymentButton {
  margin-bottom: 1em;
  margin-top: 1em;
  display: inline-block;
  padding: 0.5em 0;
  width: 45%;
  text-align: center;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  background: #f4f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f6), color-stop(100%, #edeeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f5f6 0%, #edeeef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #666666;
  border: 1px solid #c5c8cb;
  padding: 1.6em 0;
  width: 120px;
  height: 205px;
  margin-right: 19px;
  float: left;
  position: relative;
}
/* line 915, ../sass/screen.scss */
.paymentButton:last-of-type {
  margin-right: 0px;
}
/* line 918, ../sass/screen.scss */
.paymentButton span {
  font-size: 2.5em;
  background: #fff;
  padding: 10px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5) inset;
  border-radius: 30px;
  width: 51px;
  display: inline-block;
}
/* line 927, ../sass/screen.scss */
.paymentButton .price {
  color: #fff;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 1.4em;
  padding: 4px 0;
}

/* line 938, ../sass/screen.scss */
.paymentButton.primary {
  color: white;
  background: #40484b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40484b), color-stop(100%, #373c40));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #40484b 0%, #373c40 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #40484b 0%, #373c40 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
}
/* line 941, ../sass/screen.scss */
.paymentButton.primary span {
  color: #4d4d4d;
}

/* line 946, ../sass/screen.scss */
.contact {
  margin-top: 1.5em;
}
/* line 948, ../sass/screen.scss */
.contact h1 {
  padding: 1em 1.5em;
  color: #fff;
  background: #ff2722;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff2722), color-stop(100%, #dc1e00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff2722 0%, #dc1e00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff2722 0%, #dc1e00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
}
/* line 953, ../sass/screen.scss */
.contact p {
  padding: 1.5em;
  border: 3px dashed #dc1e00;
  border-top: 0;
}

@media only screen and (min-width: 1024px) {
  /* line 965, ../sass/screen.scss */
  #instructions {
    position: relative;
    height: 0px;
    z-index: 1;
  }
  /* line 969, ../sass/screen.scss */
  #instructions #instructions_have {
    width: 120px;
    height: 112px;
    float: left;
    position: absolute;
    left: -115px;
    top: 80px;
    background: url("../../img/cta_have@2x.png");
    background-size: cover;
  }
  /* line 979, ../sass/screen.scss */
  #instructions #instructions_want {
    width: 120px;
    height: 112px;
    float: right;
    background: url("../../img/cta_want@2x.png");
    background-size: cover;
    position: absolute;
    right: -120px;
    top: 80px;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 700px) {
  /* Styles */
  /* line 1001, ../sass/screen.scss */
  #header #location {
    display: none;
  }
  /* line 1004, ../sass/screen.scss */
  #header .view_text {
    display: none;
  }
  /* line 1007, ../sass/screen.scss */
  #header .view_icon {
    display: inline;
  }
}
@media only screen and (max-width: 450px) {
  /* Styles */
  /* line 1017, ../sass/screen.scss */
  .no_mobile {
    display: none;
  }

  /* line 1022, ../sass/screen.scss */
  .central {
    width: 100%;
    margin: 1em auto;
  }

  /* line 1028, ../sass/screen.scss */
  #header #location {
    display: none;
  }
  /* line 1031, ../sass/screen.scss */
  #header .view_text {
    display: none;
  }
  /* line 1034, ../sass/screen.scss */
  #header .view_icon {
    display: inline;
  }
}
/* line 1041, ../sass/screen.scss */
.big_pic {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  width: 100%;
}

/* line 1046, ../sass/screen.scss */
.calendar_square {
  width: 50px;
  height: 60px;
  border-right: 1px solid #bbb;
  text-align: center;
}
/* line 1051, ../sass/screen.scss */
.calendar_square .year {
  background: #bbb;
  color: #fff;
  font-size: 11px;
  height: 20px;
}
/* line 1057, ../sass/screen.scss */
.calendar_square .day {
  font-size: 18px;
  height: 22px;
}
/* line 1061, ../sass/screen.scss */
.calendar_square .month {
  text-transform: uppercase;
  font-size: 12px;
  padding: 0;
  line-height: 16px;
}

/* line 1069, ../sass/screen.scss */
.account_offers, .account_listings {
  width: 100%;
}
/* line 1073, ../sass/screen.scss */
.account_offers tr:first-of-type, .account_listings tr:first-of-type {
  border-top: 1px solid #bbb;
}
/* line 1077, ../sass/screen.scss */
.account_offers td:first-of-type, .account_listings td:first-of-type {
  width: 60px;
}
/* line 1080, ../sass/screen.scss */
.account_offers td:nth-child(3), .account_listings td:nth-child(3) {
  width: 80px;
}
/* line 1083, ../sass/screen.scss */
.account_offers .cta, .account_listings .cta {
  display: table-cell;
  vertical-align: middle;
  display: inline-block;
  padding: 0.5em 0;
  width: 45%;
  text-align: center;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 10px;
  background: #f4f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f6), color-stop(100%, #edeeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f5f6 0%, #edeeef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f5f6 0%, #edeeef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #666666;
  display: inline-block;
  width: auto;
  padding: 0.2em 0.5em;
}
